* {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 2;
    scroll-behavior: smooth;
}



html,body {
    background-image: url("images/bg-placeholder.png"), linear-gradient(rgb(121, 121, 205), rgb(224, 175, 213));
    background-size:cover;
    background-color: rgba(121,121,205,1);
    background-attachment: fixed;
}

html,
body {
  margin: 0;
  padding: 0;
}

.button {
    display: flex;
    padding: 10px;
    background-color: #ffb754;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0px;
    border-radius: 50px;
    transition: all 0.5s;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    transform: scale(0.98);
    background-color: rgb(204, 204, 253);

}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px; 
    margin: auto;
    padding: 5%;
    height: 100%;
    background-color: transparent;
    background-image: none;
}

form {
    background-color: white;
    padding: 5%;
    border-radius: 25px;
}

form > div {
    margin: 10px 0px;
}

input,textarea {
    width: 100%;
    padding: 2% 5%;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px none rgba(0, 0, 0, 0.11);
    background-color: rgb(231, 231, 231);
    line-height: 1.2;
  }

.message-field {
    resize: vertical;
    min-height: 70px;
}

  select {
    width: 100%;
    padding: 16px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

  .next-to {
      display: flex;
      gap: 2%;
      margin: 0px;
  }

  .next-to a,.next-to button {
    flex-basis: 100%;
  }

  .fold-text-box {
    display: none !important;
}

#link-to-ref input{
    background-color: bisque;
}

button {
    border: none;
}

header,section {
    padding: 5%;
}

#reset {
    background-color: rgb(255, 44, 44);
}

@media (prefers-color-scheme: dark) {
    .button {
        background-color: magenta;
    }

    form {
        background-color: rgb(41, 41, 41);
        color: white;
    }

    html,body {
        background-image: url("images/bg-placeholder.png"), linear-gradient(rgb(18, 18, 39), rgb(41, 32, 39));
        background-color: black;
    }

    input,textarea {
        background-color: #797979;
    }
}