body,header {
    background-image: none;
}

 body {

 }

 header {
     background-color: brown;
     height: auto;
 }


 .header-container {
     padding: 30px;
 }

.header-container div div{
    display: block;
}

.header-container > div {
    flex-direction: column;
    color: white;
    justify-content:space-evenly;
    text-align: justify;
}

 .page-container {
     max-width: 1260px;
 }
section {
    flex-basis: 100%;
    padding: 15px 15px;
}

.text-box {
    padding: 4.5vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
}

.text-box h1 {
    margin-bottom: 20px;
}

.zainteresowania {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}

.zainteresowania li {
    flex-basis: 36%;
    width: fit-content;
}

.work-box li {
    font-size: 0.9rem;
}

.work-points {
    margin-top: 10px;
    padding-bottom: 20px;
    list-style: none;
}

.work-points li {
    padding-left: 30px;
    color: rgb(111, 111, 111);
}