
* {
    font-size: 16px;
    font-family: arial;
}

html,body {
    margin: 0px;
}


 header {
     background-color: brown;
     height: auto;
 }


 .header-container {
     padding: 30px;
     display: flex;
     max-width: 1200px;
     margin: auto;
 }

.header-container div div{
    display: block;
   
}

.header-container > div {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content:space-evenly;
    text-align: justify;
    flex-basis: 100%;
    
}

.header-container div img {
    margin: auto;
}

 .page-container {
     max-width: 1260px;
     margin: auto;
     min-width: 1000px;
 }

.holder {
    display: flex;
}

section {
    flex-basis: 100%;
    padding: 15px 15px;
}

.text-box {
    padding: 4.5vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
    border-radius: 25px;
}

.text-box h1 {
    margin-bottom: 20px;
}

.zainteresowania {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}

.zainteresowania li {
    flex-basis: 36%;
    width: fit-content;
}

.work-box li {
    font-size: 0.9rem;
}

.work-points {
    margin-top: 10px;
    padding-bottom: 20px;
    list-style: none;
}

.work-points li {
    padding-left: 30px;
    color: rgb(111, 111, 111);
}

.icons-holder {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 50px;
    justify-content: center;
    width: 350px;
    margin: auto;
    background-color: lightgray;
    margin-bottom: 40px;
}

.icons-holder h1 {
    margin: 0px;
    padding: 0px;
    width: fit-content;
}

.icons-holder span {
    display: block;
    margin-right: 10px;
}