* {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 2;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-image: url("images/bg-placeholder.png"), linear-gradient(rgba(121,121,205,1), rgba(224,175,213,1));
    background-position: center;
}

#navbar {
    z-index: 50;
}

#navbar > div {
    display: flex;
    justify-content: center;
}

#navbar div {
    gap: 15%;
}

header {
    height: 100vh;
    background-image: url(images/header-bg.png);
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

header img {
    border-radius: 50%;
    border: 2px solid white;
    max-height: 50vh;
}

h2 {
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.header-container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    gap: 5%;

}

.header-container > div {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.header-container > div div,.header-container > div div h1, .header-container > div div p{
    text-shadow: 2px 2px 0px #ffb754;
    font-size: 5rem;
    text-align: left;
    justify-content: right;
}

.header-container > div div p {
    font-size: 2rem;
    text-shadow: none;
}

.header-container h1 {
    color: white;
}

.page-container {
    max-width: 1000px;
    margin: auto;
}

section {
    margin: 0px;
    padding: 15vh 0px;
}

.text-box {
    background-color: white;
    text-align: justify;
    display: flex;
    padding: 25px;
    border-radius: 25px;
    min-height: 140px;
}

.fold-text-box {
    display: none !important;
}

p.text-box {
    display: block;
    min-height: 0px;
    flex-basis: 100%;
    margin-bottom: 10px;
    text-align: center;
}

#portfolio-text {
    overflow:hidden; 
    height: 80vh;
    position: relative;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.267);
    border-radius: 25px;
    background-color: #333;
    margin: auto;
}

.animation-gallery img {
    height: 100%;
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
    animation: infinite slide-gallery 20s ease-in-out;
    position: absolute;
    opacity: 0;
}

@keyframes slide-gallery {
    25%{opacity: 1;} 
    40%{opacity:0;}
} 

.animation-gallery img:nth-child(4){animation-delay:0s;}
.animation-gallery img:nth-child(3){animation-delay:5s;}
.animation-gallery img:nth-child(2){animation-delay:10s;}
.animation-gallery img:nth-child(1){animation-delay:15s;}



/* nie uzywane */

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 100%;
    width: 100%;
    row-gap: 50px;
}

.grid-item {
    width: auto;
    display: flex;
}

.grid-item img {
    width: 100%;
    height: 100%;
    max-height: 20vh;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    background-color: white;
}

/* nie uzywane end */

.bottom-container {
    display: flex;
    margin-bottom: 0px;
    gap: 5%;
}

.bottom-container > div {
    flex-basis: 100%;
}

.bottom-container > p {
    display: block;
    justify-content: center;
    text-align: center;
}

.bottom-container > p > i {
    color: red;
    display: block;
}

.button {
    display: block;
    padding: 10px;
    background-color: #ffb754;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0px;
    border-radius: 50px;
    transition: all 0.5s;
    user-select: none;
}

.button:hover {
    cursor: pointer;
    transform: scale(0.98);
    background-color: white;
}

.price-table {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
    margin: auto;
}

.price-table > div {
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.price-table div div {
    background-color: #ffb754;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 2%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.price-table div div p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.price-table img { 
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116);
    transition: all 0.2s;
    background-color: #ffb754;
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
}

.price-table img:hover {
    box-shadow: 0px 0px 5px #000000;
    opacity: 60%;
}

#portfolio div.text-box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10vh;
}

.portfolio-segment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    justify-content: space-evenly;
}

.portfolio-segment div {
    flex-basis: 40%;
}

.portfolio-segment img {
    width: 100%;
}

.portfolio-segment a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);
}

.separate {
    background-color: #333;
    height: 1px;
    width: 100%;
    margin: 50px 0px;
}

#floating-contact {
    display: none;
    position: fixed;
    bottom:4vh;
    right: 4vw;
    width: 200px;
    transition: all 1s;
    opacity: 0;
}

#floating-contact a {
    margin: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);
    animation: contact-button 1s infinite ease-in-out;
}

@keyframes contact-button {
    0% {box-shadow: none;transform: scale(1);}
    50% {box-shadow: 0px 0px 25px gold;transform: scale(1.1);}
    100% {box-shadow: none;transform: scale(1);}
}

#navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .poweredby {
      font-weight: bolder;
      color: gray;
      text-align: center;
      
  }

  .poweredby p {
    width: 100%;
   
  }

  .poweredby a {
      color: purple;
      text-decoration: none;
      transition: all 1s;
  }

  .poweredby a:hover {
      color: gold;
      text-shadow: 0px 0px 20px rgb(187, 255, 0);
  }

/*Layout mobilny*/

@media screen and (max-width:800px) and (orientation: portrait), (max-width:1000px) {
    #floating-contact {
        display:block;
    }

    #navbar a{
        padding: 5px;
    }

    .page-container {
        width: 100%;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .header-container {
        width: 100%;
        flex-wrap: wrap;
    }

    .header-container > div div h1 {
        font-size: 3rem;
    }

    .header-container > div div p {
        font-size: 1.2rem;
    }

    .bottom-container {
        display: block;
    }

    #limitations {
        margin: 10px;
    }

    .bottom-container div {
        margin: 10px 0px;
    }

    .text-box {
        border-radius: 0px;
    }

    .tbox-margin {
        margin: 0px;
    }

    header img {
        min-width: 50px;
        max-width: 80%;
    }

    #welcome {
        align-items: flex-start;
    }

    #photo {
        align-items: flex-end;
    }

    .price-table {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .price-table img {
        height: 220px;
        width: 220px;
    }

    .price-table div div p {
        font-size: 0.8rem;
    }

    .portfolio-segment {
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 50px;
    }

    .portfolio-segment div {
        align-items: center;
    }

    .portfolio-margin {
        margin: 0px auto;
    }

    .portfolio-segment div img {
        object-fit: scale-down;
        width: auto;
        max-width: 100%;
    }

    .button {
        margin: 20px 50px;
    }
}

/*Layout mobilny end*/

  /*Dark mode*/

  @media (prefers-color-scheme: dark) {
    * {
        color: #ffffff70;
    }

    h1,h2 {
        color: #ffffff;
    }

    body {
        background-image: url("images/bg-placeholder.png"), linear-gradient(rgb(18, 18, 39), rgb(41, 32, 39));
        background-color: black;
    }

    header {
        background-image: url("images/dark-header-bg.png"),linear-gradient(rgba(0, 0, 0, 0.507) 50%, rgba(0, 0, 0, 0));
    }

    .header-container > div div p {
        color: #ffb754;
        text-shadow:1px 1px 5px rgb(0, 0, 0);
    }

    header img {
        box-shadow: 0px 0px 500px rgba(255, 0, 255, 0.555);
        border: none;
    }

    .text-box {
        background-color: rgb(41, 41, 41);
    }

    .separate {
        background-color: gray;
    }

    .button {
        background-color: magenta;
    }

    .price-table div div {
        background-color: rgb(92, 0, 92);
        
    }

    .price-table div div p {
        color: #ffffff;
    }

    .price-table img {
        background-color: #414141;
    }
  }

  @media (prefers-color-scheme: dark) and (max-width:1000px) {
    .text-box {
        background-color: black;
    }
    
    .price-table div div {
        background-color: #333;
    }

  }