*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
header h1{
    font-size: 3rem;
    color: white; 
    margin: 1rem 1rem 1rem 1rem;
}
.golden{
    text-align: center;
    padding: 1rem 2rem;
    background: gold;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
    width: 100%;
    margin: 1rem;
}

.golden:hover {
    background-color: limegreen;
    color: white;
}

div{
    width: 100%;
    height: 100%;
    position:relative;
    padding: 2rem 1rem 0rem 1rem;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(66, 66, 66);
    border-radius: 2rem;
}
div h2{
    color: white;
}
div ul{
    list-style: none;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
div ul li{
    margin: 0.5rem;
    width: 100%;

}
div ul li a{
    width: 100%;
    display: inline-block;
    padding: 1rem 2rem;
    background: black;
    border-radius: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}

div ul li a:hover {
    background-color: crimson;
}

.powered{
    font-size: 0.8rem;
    color: rgb(70, 70, 70);
}
.powered a{
    text-decoration: none;
    color: purple;
}

.powered a:hover {
    text-decoration: underline;
}