:root {
    --main-bg-color:#301b5c;
    --section-bg-color:#822768;
    --main-text-color:white;
    --special-button-color:#ffb754;
    --button-hover-bg:lightblue;
    --button-hover-text:black;
}

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
}

header {
    background-color: var(--section-bg-color);
    align-items: center;
    flex-wrap: wrap;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

header div a {
    color: lightgray;
    font-size: 3vh;
}

header img {
    border-radius: 50%;
    height: 40vh;
    margin: 5vh 1rem;
}

section,header {
    height: 100vh;
    padding: 3rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

section {
    width: fit-content;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

section a {
    text-align: justify;
    margin: 1rem;
    background-color: white;
    padding: 5vh;
    border-radius: 2rem;
    width: 60%;
    font-size: 2vh;
}

h1 {
    color: var(--main-text-color);
    font-size: 5vh;
}

section h1 {
    display: block;
    width: 25%;
    margin: 5vh;
}

.powered{
    margin: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    color: rgb(70, 70, 70);
    text-align: center;
}
.powered a{
    text-decoration: none;
    color: purple;
}

.powered a:hover {
    text-decoration: underline;
}

.horizontal {
    font-weight: bold;
    display:flex;
    justify-content: space-around;
    width:100%;
    flex-flow: row wrap;
    position: fixed;
    background-color: var(--section-bg-color);
}

.horizontal li {
    height: 100%;
    display: inline;
    margin: 1rem;
    line-height: 2rem;
}

.horizontal li a {
    height: 100%;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: var(--main-text-color);
}

.horizontal li a:hover {
    background-color: white;
    color: var(--button-hover-text);
}

.vertical-center {
    text-align: left;
}